$dark-blue: #2A05BF;
$light-blue: #00AFE6;
$red: #CC0032;
$orange: #FF6600;
$light-orange: #FFB83E;
$yellow: #FFF246;
$green: #00CC00;
$font-color: #404040;
$border-color: #E1E1E1;
$white: #FFFFFF;
$light-gray: #a5a5a5;
